.calculator {
    margin-top: 100px;
}

.calculator-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    margin: 20px 0 30px;
}

.section-title {
    font-weight: 700;
    margin: 15px 0;
}

@media (max-width: 1000px) {
    .calculator-title {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .calculator-title {
        font-size: 18px;
    }
}