@font-face {
  font-family: "PTS55F";
  src: url(../public/fonts/PTS55F.ttf);
}

@font-face {
font-family: "PTF56F";
src: url(../public/fonts/PTF56F.ttf);
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: "PTS55F";
  color: #243178;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

code {
  font-family: "PTS55F";
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.custom-input, .custom-select {
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 15px;
}

.custom-input {
  max-width: 46px; 
}

.custom-input:focus, .custom-input:hover,
.custom-select:focus, .custom-select:hover {
  outline: none !important;
  border-color: #44a1df;
}

.calculator-button {
  padding: 12px 18px;
  opacity: 1;
  text-align: center;
  color: #fff;
  background: #243178;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.calculator-button:hover {
  background: #44a1df;
}

@media (max-width:1000px) {
  .container {
    max-width: 90%;
  }
}