.first-section-button {
    padding: 12px 18px;
    opacity: 1;
    text-align: center;
    color: #fff;
    background: #243178;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.first-section-button:hover {
    background: #44a1df;
}

.first-section-conclusion {
    margin: 15px 0;
}