.first-section {
    margin-bottom: 40px;
}

.first-section-conclusion {
    margin: 15px 0;
}

@media (max-width: 441px){
    .first-section-button.calculator-button {
        margin-top: 10px;
    }
} 